* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background-color: rgb(223, 192, 113);
}

.cont-tdl {
    margin: 0 auto;
    text-align: center;
    background-image: url(notes.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 900px;
}

h2 {
    padding-top: 120px;
}

.input-tdl {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 65% 10%;
    gap: 10px;
    justify-content: center;

}

input[type="text"] {
    width: 300px;
    height: 25px;
    outline: none;
    border-style: none;
    border-radius: 3px;
    padding: 3px;
    color: rgb(125, 141, 141);
    font-size: 10px;
}

input[type="text"]:focus {
    font-size: 15px;

}

input[type="button"] {
    height: 30px;
    outline: none;
    border-style: none;
    border-radius: 3px;
    color: darkslategray;
    background: rgb(36, 160, 218);

}

.new-tasks {
    display: grid;
    justify-content: center;
    grid-template-columns: 5% 60% 10%;
    margin-top: 18px;
    gap: 5px;
}

.check-button {
    border-style: none;
    border-radius: 3px;
}

.trash-button {
    height: 25px;
    border-style: none;
    border-radius: 3px;
    color: rgb(247, 248, 248);
    background: rgb(245, 61, 61);
}

.checklist {
    text-decoration: line-through;
}

img {
    pointer-events: none;
}